{{ define "main" }}
<div class="ui middle aligned grid">
    <div class="column">
        <div class="ui container">
            <div class="ui basic segment">
                <div class="header">
                    <h3>{{ .Title }}</h3>
                </div>
                <div class="content">
                    <p>{{ .Content }}</p>
                </div>
            </div>
            <div class="ui two item menu">
                {{ if .NextInSection }}
                <a class="item" href="{{.NextInSection.Permalink}}">{{.NextInSection.Title}}</a>
                {{ end }}
                {{ if .PrevInSection }}
                <a class="item" href="{{.PrevInSection.Permalink}}">{{.PrevInSection.Title}}</a>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}
