<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
   <link rel="stylesheet" type="text/css" href="/semantic.css">
   <style>
    .ui.grid {
        height: 80vh;
    }
   </style>
    <title>{{ .Site.Title }}</title>
  </head>
  <body>
    <!-- Code that all your templates share, like a header -->
      <div class="ui menu">
          <div class="item">
              Offcourse
          </div>
      </div>
      {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
      {{ end }}
      {{ block "footer" . }}
      <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
      {{ end }}
  </body>
</html>
